.landing-title {
    color: white;
    font-size: 65px;
    text-align: center;
}

.link-contianers {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    font-size: 25px;
    text-align: center;
}

.link-contianers .w3-btn {
    width: 391px;
}

@media only screen and (max-width: 448px) {
    .landing-title {
        font-size: 40px;
    }

    .link-contianers {
        gap: 5px;
        font-size: 15px;
    }

    .link-contianers .w3-btn {
        width: 300px;
    }
}


@media only screen and (min-width: 990px) {
    .user-overlay {
        width: 800px;
    }

    .user-overlay.type-2 {
        margin-left: auto;
    }
}